@import "tailwindcss";
@import "@fontsource-variable/inter";

* {
  font-family: "Inter Variable", sans-serif;
}

@theme {
  --color-primary: rgb(250, 250, 246);
  --color-secondary: rgb(51, 51, 51);
  --color-footer: rgb(234, 234, 227);
  --color-charcoal: rgb(34, 34, 34);
}

.active {
  font-weight: 800;
}
